<a href="https://colab.research.google.com/github/Bhavya728/Bhavya-UCS420/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A1.Q1

In [ ]:
list1=[10,20,30,40,50,60,70,80]
list1.append(200)
list1.append(300)
print(list1)
list1.remove(10)
list1.remove(30)
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

A2.Q2

In [ ]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
a = max(scores)
print(f"{a} is the maximum value and is found at index: {scores.index(a)}")

b = min(scores)
print(f"{b} is the minimum value and its count is: {scores.count(b)}")

print(f"Type of 'scores': {type(scores)}")

scores = tuple(reversed(scores))
print("List after reversing the tuple:", scores)
print(f"Type of 'scores' after conversion: {type(scores)}")

scores = tuple(scores)

x = int(input("Enter a number: "))
if x in scores:
    print(f"{x} is present in the tuple at index (after reverse): {scores.index(x)}")
else:
    print(f"{x} is not present in the tuple")

92 is the maximum value and is found at index: 5
45 is the minimum value and its count is: 2
Type of 'scores': <class 'tuple'>
List after reversing the tuple: (45, 58, 92, 89, 45.4, 76, 89.5, 45)
Type of 'scores' after conversion: <class 'tuple'>
Enter a number: 58
58 is present in the tuple at index (after reverse): 1

A2.Q3

In [ ]:
import random

L_odd = []
L_even = []
L_prime = []
L_original = random.sample(range(100, 900), 100)

print(f"L_original: {L_original}")
print("\n")
print(f"Length of list: {len(L_original)}")
print("\n")

for i in L_original:
    if i % 2 == 0:
        L_even.append(i)
    else:
        L_odd.append(i)

print(f"List of even numbers: {L_even}")
print("\n")
print(f"List of odd numbers: {L_odd}")
print("\n")

for n in L_original:
    if n > 1:
        is_prime = True
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                is_prime = False
                break
        if is_prime:
            L_prime.append(n)

print(f"List of prime numbers: {L_prime}")
print("\n")

L_original: [849, 183, 773, 725, 197, 508, 440, 759, 574, 267, 825, 336, 201, 631, 729, 623, 588, 352, 346, 777, 218, 833, 658, 786, 738, 293, 351, 754, 613, 245, 382, 482, 664, 260, 297, 779, 787, 712, 798, 548, 326, 573, 339, 843, 809, 864, 819, 660, 100, 741, 203, 805, 202, 317, 804, 358, 425, 427, 348, 177, 722, 750, 579, 752, 531, 735, 839, 457, 374, 818, 193, 544, 307, 815, 842, 620, 366, 507, 385, 287, 761, 541, 439, 897, 391, 445, 332, 350, 650, 669, 281, 331, 602, 792, 867, 252, 659, 894, 814, 621]


Length of list: 100


List of even numbers: [508, 440, 574, 336, 588, 352, 346, 218, 658, 786, 738, 754, 382, 482, 664, 260, 712, 798, 548, 326, 864, 660, 100, 202, 804, 358, 348, 722, 750, 752, 374, 818, 544, 842, 620, 366, 332, 350, 650, 602, 792, 252, 894, 814]


List of odd numbers: [849, 183, 773, 725, 197, 759, 267, 825, 201, 631, 729, 623, 777, 833, 293, 351, 613, 245, 297, 779, 787, 573, 339, 843, 809, 819, 741, 203, 805, 317, 425, 427, 177, 579, 531, 735, 839, 457, 193, 307, 815, 507, 385, 287, 761, 541, 439, 897, 391, 445, 669, 281, 331, 867, 659, 621]


List of prime numbers: [773, 197, 631, 293, 613, 787, 809, 317, 839, 457, 193, 307, 761, 541, 439, 281, 331, 659]

A2.Q4

In [ ]:
from os import remove
A={34,56,78,90}
B={78,45,90,23}
print(f"(A v B) :          {A.union(B)}")
print(f"(A ^ B) :          {A.intersection(B)}")
print(f"(A - B) :          {A.difference(B)}")
print(f"(B - A) :          {B.difference(A)}")
print(f"(A-B) v (B-A) :    {A.symmetric_difference(B)}")
print(f"A <= B :            {A.issubset(B)}")
print(f"B >= A :            {B.issuperset(A)}")
x=int(input("Enter a number : "))

A.discard(45)
if x in A:
  A.remove(x)
  print(f"{x} is removed from set A")
else:
  print(f"{x} is not present in set A")
print(A)

(A v B) :          {34, 45, 78, 23, 56, 90}
(A ^ B) :          {90, 78}
(A - B) :          {56, 34}
(B - A) :          {45, 23}
(A-B) v (B-A) :    {34, 45, 23, 56}
A <= B :            False
B >= A :            False
Enter a number : 78
78 is removed from set A
{56, 34, 90}

A2.Q5

In [ ]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}