<a href="https://colab.research.google.com/github/Bhavya728/Bhavya-UCS420/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A1.Q1

In [3]:
for i in range(0,3):
 print('bhavya')

bhavya
bhavya
bhavya

A2.Q1

In [4]:
a=14
b=17
c=19
result=a+b+c
print(f"summ of {a}+{b}+{c} = {result}")

summ of 14+17+19 = 50

A2.Q2

In [5]:
a="hello"
b="world"
c="!!!"
str=a+" "+b+" "+c
print(f"combined string is : {str}")

combined string is : hello world !!!

A4.Q1

In [6]:
for i in range(1,11):
  print(f"7 * {i} = {7*i} \t\t\t 9 * {i} = {9*i}")

7 * 1 = 7 			 9 * 1 = 9
7 * 2 = 14 			 9 * 2 = 18
7 * 3 = 21 			 9 * 3 = 27
7 * 4 = 28 			 9 * 4 = 36
7 * 5 = 35 			 9 * 5 = 45
7 * 6 = 42 			 9 * 6 = 54
7 * 7 = 49 			 9 * 7 = 63
7 * 8 = 56 			 9 * 8 = 72
7 * 9 = 63 			 9 * 9 = 81
7 * 10 = 70 			 9 * 10 = 90

A4.Q2

In [7]:
a=int(input("Enter a number : "))
for i in range(1,11):
  print(f"{a}*{i} = {a*i}")

Enter a number : 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

A4.Q3

In [8]:
n=int(input("Enter a number : "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(f"Summ of numbers from 1 to {n} is = {sum}")

Enter a number : 7
Summ of numbers from 1 to 7 is = 28

A5

In [9]:
a=int(input("Enter 1st num : "))
b=int(input("Enter 2nd num : "))
c=int(input("Enter 3rd num : "))
maximum=max(a,max(b,c))
print(f"maximum value is = {maximum}")

Enter 1st num : 5
Enter 2nd num : 7
Enter 3rd num : 3
maximum value is = 7

In [11]:
n=int(input("Enter a number : "))
for i in range(1,n):
  if i%7==0 and i%9==0:
    print(f"{i} is divisible by both 7 and 9")

Enter a number : 100
63 is divisible by both 7 and 9

In [12]:
n=int(input('Enter a number'))
sum=0
for i in range(2,n+1):
  flag=True
  for j in range(2,i):
    if i%j==0:
      flag=False
  if flag:
    sum+=i
print('Sum of primes=',sum)

Enter a number85
Sum of primes= 874

A6

In [13]:
def addOdd(n):
  sum=0
  for i in range(1,n+1):
    if i%2!=0:
      sum+=i
  return sum
n=int(input('Enter a number'))
print('Sum of odd numbers',addOdd(n))

Enter a number7
Sum of odd numbers 16

In [14]:
def addPrime(n):
  sum=0
  for i in range(2,n+1):
    flag=True
    for j in range(2,i):
     if i%j==0:
      flag=False
    if flag:
      sum+=i
  return sum
n=int(input('Enter a number'))
print('Sum of primes=',addPrime(n))

Enter a number50
Sum of primes= 328